{% load render_vite_bundle %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#17c1e8" />
  <title>rngadopts</title>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  {% if debug %}
  <script type="module" src="http://localhost:3000/@vite/client"></script>
  
  <!-- If you're using vite with React, this next script will be needed for HMR -->
  <script type="module">
    import RefreshRuntime from 'http://localhost:3000/@react-refresh'
    if (RefreshRuntime) {
      RefreshRuntime.injectIntoGlobalHook(window)
      window.$RefreshReg$ = () => { }
      window.$RefreshSig$ = () => (type) => type
      window.__vite_plugin_react_preamble_installed__ = true
    }
  </script>
  {% endif %}
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>

  {% if debug %}
  <script type="module" src="http://localhost:3000/main.jsx"></script>
  {% else %}
  {% render_vite_bundle %}
  {% endif %}
  <script>
    window.APP_URL = '{{ app_url }}';
    window.APP_FLAGS = {% autoescape off %}{{ app_flags }}{% endautoescape %};
  </script>
</body>

</html>